 @{ 
  Layout = "_Layout";
}
<div id=Header>
<h1 id= HeaderText>Star Tours InterGalactic Travel!</h1>
<p>There are no limits to where we can go! Come, fly Star Tours InterGalactic Travel</p>
</div>

<div id=IndexNav>
<p>@Html.ActionLink("See all Spaceships!", "Index", "Spaceships")</p> <p>@Html.ActionLink("See all Planets", "Index", "Planets")</p>
</div>

@* <!-- <ul>
<li>@planet.hdurl</li>
</ul> --> *@

<div id=IndexBody>
</div>
  <div class='light x1'></div>
  <div class='light x2'></div>
  <div class='light x3'></div>
  <div class='light x4'></div>
  <div class='light x5'></div>
  <div class='light x6'></div>
  <div class='light x7'></div>
  <div class='light x8'></div>
  <div class='light x9'></div>
  