 @{ 
  Layout = "_Layout";
}
<h1>Star Tours InterGalactic Travel!</h1>

<p>There are no limits to where we can go! Come, fly Star Tours InterGalactic Travel</p>

<p>@Html.ActionLink("See all Spaceships!", "Index", "Spaceships")</p> <p>@Html.ActionLink("See all Planets", "Index", "Planets")</p>
