@{
  Layout = "_Layout";
}
@using PlanetaryTravelAgency.Models;

<div id=Header>
<h1>Planets we fly to:</h1>
</div>

<div id=MainBody>
@if (@Model.Count == 0)
{
  <h3>No planets have been added yet!</h3>
} 
<ul>
  @foreach(Planet planet in Model)
  {
    <li>@Html.ActionLink($"{planet.Name}", "Details", new { id = planet.PlanetId })</li>
  }
</ul>
<p>@Html.ActionLink("Add new planet", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>

<div class="container demo">
   <div class="content">
      <div id="large-header" class="large-header">
         <canvas id="demo-canvas"></canvas>
         <h1 class="main-title"><span class="thin">Explore</span> Space</h1>
      </div>
   </div>
</div>