@font-face {
  font-family: AlienRavager;
  src:url(../img/alien-ravager-font/AlienRavager-0WYod.ttf);
}
div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #CCC;
  background: #333;
  padding: 8px;
}
body{
  font-family: 'Rubik', sans-serif;
  background-image:linear-gradient(-45deg, rgba(255, 0, 0, 1) 0%, rgba(255, 154, 0, 1) 10%, rgba(208, 222, 33, 1) 20%, rgba(79, 220, 74, 1) 30%, rgba(63, 218, 216, 1) 40%, rgba(47, 201, 226, 1) 50%, rgba(28, 127, 238, 1) 60%, rgba(95, 21, 242, 1) 70%, rgba(186, 12, 248, 1) 80%, rgba(251, 7, 217, 1) 90%, rgba(255, 0, 0, 1) 100%);
  background-size: 100% 500%;
  background-repeat: no-repeat;
  animation: radial-gradient 15s ease infinite;
}

#MainBody {
  background-color: darkmagenta;
  text-align: center;
  border-radius: 15px;
  width: 400px;
  height: 600px;
  margin-left: 40%;
  padding-top: 20px;
  font-family: AlienRavenger;

}

#Header {
  font-family: AlienRavager;
  text-align: center;
  font-size: 32px;
}

a {
  color: lightblue;
  font-size: 20px;
}

a:hover{
  color: black;
  text-shadow:
    0 0 7px orangered,
    0 0 10px orangered,
    0 0 21px orangered,
    0 0 42px red,
    0 0 82px red,
    0 0 92px red,
    0 0 102px red,
    0 0 151px red;
}

a:visited{
  color:lawngreen
}
